doctype html
html(lang="en")
    head
        block title
            title Default Title
        link(href="/build/style.css", rel="stylesheet", type="text/css")
    body
        block content
        script(src="/build/bundle.js")